@model IEnumerable<LeaveApp.Models.Leave>

@{
    ViewBag.Title = "Previous Leaves";
}

<h2>Previously Applied</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTypeCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ID == @HttpContext.Current.User.Identity.Name)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveTypeCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.LeaveID })
                </td>
            </tr>
        }
    }

</table>
